<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Acceder al Carrito</h1>

<div th:each="cart: ${customerOrders}">
    <label th:text="${cart.id}"></label>
    <label th:text="${cart.status}"></label>
</div>
<form th:action="@{/cart/yourcart}" method="post">
    <label for="cartId">ID del Carrito:</label>
    <input type="number" id="cartId" name="idCart" required>
    <button type="submit">Ver Carrito</button>
</form>

<div th:if="${mensaje}">
    <span th:text="${mensaje}"></span>
</div>


</body>
</html>